<section class="page_header_banner faq_banner">
    <div class="rectangle">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <div class="breadcrumbs small_text mb-5">Home/<b> FAQ </b></div>
                    <h1 class="page_title mb-3">FAQ</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <div class="row">
            <h2 class="section_title mt-5 mb-4">Frequently Asked Questions</h2>
            <p class="mb-4">
                Questions About Selling
            </p>
            <ngb-accordion [closeOthers]="true" activeIds="static-1" class="mb-5 custom_acc">

                <ngb-panel id="static-2" *ngFor="let faqList of faqLists">
                    <ng-template ngbPanelTitle>
                        {{faqList.title}}
                    </ng-template>
                    <ng-template ngbPanelContent>
                        {{faqList.desc}}
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-3" title="How can I get find houses aid to live off campus?">
                    <ng-template ngbPanelContent>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-4" title="How can I get find houses aid to live off campus?">
                    <ng-template ngbPanelContent>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-5" title="How can I get find houses aid to live off campus?">
                    <ng-template ngbPanelContent>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-6" title="How can I get find houses aid to live off campus?">
                    <ng-template ngbPanelContent>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-7" title="How can I get find houses aid to live off campus?">
                    <ng-template ngbPanelContent>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-8" title="How can I get find houses aid to live off campus?">
                    <ng-template ngbPanelContent>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s.
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</section>


<app-download-app></app-download-app>