<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="#">
            <img src="../../assets/images/logo.png">
        </a>

        <!-- Toggle button -->
        <button (click)="toggleCollapsed()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <!-- <img src="../../assets/images/menu.png"> -->

      </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">

            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Agents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary me-3">
                            <img src="../../assets/images/icon/plus.png">
                            <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                             Add Property
                      </button>
                </li>
                <li class="nav-item">
                    <img src="../../assets/images/user.png">
                </li>
                <li class="nav-item">
                    <img src="../../assets/images/menu.png">
                </li>
            </ul>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->