<div class="footer py-4 light_bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer_logo">
                    <img src="../../assets/images/logo.png" width="312px">
                </div>
                <div class="footer_desc mt-4">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col">
                <h3 class="footer_title">Recent Properties</h3>
                <div class="property_details d-flex mb-3">
                    <img src="../../assets/images/footer/property1.png">
                    <div class="property_data ms-3">
                        <p>2972 Westheimer Rd. Santa Ana, Illinois 85486.</p>
                        <p>₹ 20,000</p>
                    </div>
                </div>
                <div class="property_details d-flex mb-3">
                    <img src="../../assets/images/footer/property2.png">
                    <div class="property_data ms-3">
                        <p>2972 Westheimer Rd. Santa Ana, Illinois 85486.</p>
                        <p>₹ 20,000</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3 class="footer_title">Contact Info</h3>
                <p>2972 Westheimer Rd. Santa Ana, Illinois 85486.</p>
                <p>Phone: (120) 555-0108</p>
                <p>Email: abcd@domain.com</p>
                <p>Website: abcd@domain.in</p>
            </div>
        </div>
    </div>
</div>