<div class="container">
    <div class="tab_design search_tab">
        <cd-tabs class="tab_section">
            <cd-tab-bar class="tab_header">
                <cd-tab-button>Buy</cd-tab-button>
                <cd-tab-button>Rent</cd-tab-button>
                <cd-tab-button>PG/Co Living</cd-tab-button>
                <cd-tab-button>Commercial</cd-tab-button>
                <cd-tab-button>Coworking</cd-tab-button>
                <cd-tab-button>Projects</cd-tab-button>
                <cd-tab-button>Dealers</cd-tab-button>
            </cd-tab-bar>
            <cd-tab-content>
                <form>
                    <div class="form-row align-items-center row p-4">
                        <div class="col-md-3 my-1">
                            <select class="form-control border-0">
                                <option>All Residential</option>
                              </select>
                        </div>
                        <div class="col-md-7 my-1">
                            <div class="input-group d-flex align-items-center">
                                <div class="input-group-prepend">
                                    <div class="">
                                        <!-- <img src="../../assets/images/icon/search.png"> -->
                                        <i class="fa fa-search" aria-hidden="true"></i>

                                    </div>
                                </div>
                                <input type="text" class="form-control border-0" id="" placeholder="Search city, locality,project/Society,landmark...">
                            </div>
                        </div>
                        <div class="col-auto my-1">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </cd-tab-content>
            <cd-tab-content>
                <div class="row p-4">
                    Tab 2 is displayed !
                </div>
            </cd-tab-content>
            <cd-tab-content>
                <div class="row p-4">
                    Tab 3 is displayed !
                </div>
            </cd-tab-content>
            <cd-tab-content>
                <div class="row p-4">
                    Tab 4 is displayed !
                </div>
            </cd-tab-content>
            <cd-tab-content>
                <div class="row p-4">
                    Tab 5 is displayed !
                </div>
            </cd-tab-content>
            <cd-tab-content>
                <div class="row p-4">
                    Tab 6 is displayed !
                </div>
            </cd-tab-content>
            <cd-tab-content>
                <div class="row p-4">
                    Tab 7 is displayed !
                </div>
            </cd-tab-content>
        </cd-tabs>
    </div>
</div>