<section class="page_header_banner rehome_banner">
    <div class="rectangle">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <div class="breadcrumbs small_text mb-5">Home/Properties/<b> ReHomes RiversideHome </b></div>
                    <h1 class="page_title mb-3">ReHomes Riverside</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="tab_design search_tab over_tab">
                <cd-tabs class="tab_section">
                    <cd-tab-bar class="tab_header">
                        <cd-tab-button>Overview</cd-tab-button>
                        <cd-tab-button>Amenities</cd-tab-button>
                        <cd-tab-button>Plans</cd-tab-button>
                        <cd-tab-button>Gallery</cd-tab-button>
                        <cd-tab-button>Video</cd-tab-button>
                        <cd-tab-button>Location</cd-tab-button>
                        <cd-tab-button>Enquiry</cd-tab-button>
                    </cd-tab-bar>
                    <cd-tab-content class="mt-4 py-4">

                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 2 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 3 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 4 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 5 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 6 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 7 is displayed !
                        </div>
                    </cd-tab-content>
                </cd-tabs>
            </div>
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <div class="row">
            <h2 class="section_title primary_text mb-4">Overview</h2>
            <p class="grey_text">
                <b>Status</b>: Under Construction | <b>Area</b>: 1000 - 1500 Sq ft | <b>Location</b>: New york, USA | <b>Type</b>: Apartment
            </p>
            <p class="grey_text">
                <b>Apartments</b>: 1200 | <b>Total Towers</b>: 6 | <b>Flat Size</b>: 100 - 150 Sq ft | <b>Price Range</b>: $10k - $50k
            </p>
            <p class="grey_text">
                Sprawling across 9 acres, the most spacious, densely green residential development, designed for childhood. With wide open spaces to run free, wander, explore, learn and grow. “Give your children a childhood they’ll cherish forever.<br>                <br> ”Nestled between a lake and the east Kolkata wetlands, One10 is located in the prime neighborhood of Newtown, Action Area 1. It features an Olympic length swimming pool with water slides, Nature Trail, Multi-sport Game Courts, Triple
                height Sports Arena, Centre for Extra-curricular activities, Montessori and Daycare.
            </p>
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <div class="row">
            <h2 class="section_title primary_text mb-4">Amenities</h2>
            <p class="grey_text mb-5">
                ReHomes Realty brings to you the Building Revolution. It all started with realistic appraisal of your living needs.
            </p>
            <div class="col-md-3 amenities_data text-center mb-4">
                <img src="../../assets/images/amenities/surveillance_system.png">
                <p class="grey_text">Surveillance System</p>
            </div>
            <div class="col-md-3 amenities_data text-center  mb-4">
                <img src="../../assets/images/amenities/security.png">
                <p class="grey_text">24x7 Security</p>
            </div>
            <div class="col-md-3 amenities_data text-center  mb-4">
                <img src="../../assets/images/amenities/firefighting_system.png">
                <p class="grey_text">Firefighting System</p>
            </div>
            <div class="col-md-3 amenities_data text-center mb-4">
                <img src="../../assets/images/amenities/swimming_pool.png">
                <p class="grey_text">Swimming Pool</p>
            </div>
            <div class="col-md-3 amenities_data text-center mb-4">
                <img src="../../assets/images/amenities/childrenplayarea.png">
                <p class="grey_text">Children's play area</p>
            </div>
            <div class="col-md-3 amenities_data text-center mb-4">
                <img src="../../assets/images/amenities/landscape_garden.png">
                <p class="grey_text">Landscape Garden</p>
            </div>
            <div class="col-md-3 amenities_data text-center mb-4">
                <img src="../../assets/images/amenities/ac_community_hall.png">
                <p class="grey_text">AC Community Hall</p>
            </div>
            <div class="col-md-3 amenities_data text-center mb-4">
                <img src="../../assets/images/amenities/fitness_center.png">
                <p class="grey_text">Fitness Center</p>
            </div>
        </div>
    </div>
</section>


<section class="py-4">
    <div class="container">
        <div class="row">
            <h2 class="section_title primary_text mb-4">Plans</h2>
            <p class="grey_text mb-5">
                ReHomes Realty brings to you the Building Revolution. It all started with realistic appraisal of your living needs.
            </p>

            <div class="tab_design">
                <cd-tabs class="tab_section">
                    <cd-tab-bar class="tab_header">
                        <cd-tab-button>Master Plan</cd-tab-button>
                        <cd-tab-button>Tower Plan</cd-tab-button>
                        <cd-tab-button>1 bedroom</cd-tab-button>
                        <cd-tab-button>2 bedroom</cd-tab-button>
                        <cd-tab-button>3 bedroom</cd-tab-button>
                    </cd-tab-bar>
                    <cd-tab-content class="mt-4 py-4 text-center">
                        <img src="../../assets/images/rehome/master_plan.png">
                    </cd-tab-content>
                    <cd-tab-content class="mt-4 py-4 text-center">
                        <img src="../../assets/images/rehome/master_plan.png">
                    </cd-tab-content>
                    <cd-tab-content class="mt-4 py-4 text-center">
                        <img src="../../assets/images/rehome/master_plan.png">
                    </cd-tab-content>
                    <cd-tab-content class="mt-4 py-4 text-center">
                        <img src="../../assets/images/rehome/master_plan.png">
                    </cd-tab-content>
                    <cd-tab-content class="mt-4 py-4 text-center">
                        <img src="../../assets/images/rehome/master_plan.png">
                    </cd-tab-content>
                </cd-tabs>
            </div>
        </div>
    </div>
</section>


<section class="py-4">
    <div class="container">
        <div class="row">
            <h2 class="section_title primary_text mb-4">Gallery</h2>
            <p class="grey_text mb-5">
                ReHomes Realty brings to you the Building Revolution. It all started with realistic appraisal of your living needs.
            </p>

            <div class="tab_design">
                <cd-tabs class="tab_section">
                    <cd-tab-bar class="tab_header">
                        <cd-tab-button>Project Status</cd-tab-button>
                        <cd-tab-button>Interior Design</cd-tab-button>
                        <cd-tab-button>External Views</cd-tab-button>
                    </cd-tab-bar>
                    <cd-tab-content class="mt-4 py-4 text-center">
                        <div class="row">
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery1.png" width="100%" height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery2.png" width="100%" height="100%">
                            </div>
                            <div class=" col-md-3 mb-4 ">
                                <img src="../../assets/images/rehome/gallery3.png " width="100% " height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery4.png" width="100%" height="100%">
                            </div>
                            <div class=" col-md-3 mb-4 ">
                                <img src="../../assets/images/rehome/gallery1.png " width="100% " height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery2.png" width="100%" height="100%">
                            </div>
                            <div class=" col-md-3 mb-4 ">
                                <img src="../../assets/images/rehome/gallery3.png " width="100% " height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery4.png" width="100%" height="100%">
                            </div>
                        </div>
                    </cd-tab-content>
                    <cd-tab-content class="mt-4 py-4 text-center">
                        <div class="row">
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery1.png" width="100%" height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery2.png" width="100%" height="100%">
                            </div>
                            <div class=" col-md-3 mb-4 ">
                                <img src="../../assets/images/rehome/gallery3.png " width="100% " height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery4.png" width="100%" height="100%">
                            </div>
                            <div class=" col-md-3 mb-4 ">
                                <img src="../../assets/images/rehome/gallery1.png " width="100% " height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery2.png" width="100%" height="100%">
                            </div>
                            <div class=" col-md-3 mb-4 ">
                                <img src="../../assets/images/rehome/gallery3.png " width="100% " height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery4.png" width="100%" height="100%">
                            </div>
                        </div>
                    </cd-tab-content>
                    <cd-tab-content class="mt-4 py-4 text-center">
                        <div class="row">
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery1.png" width="100%" height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery2.png" width="100%" height="100%">
                            </div>
                            <div class=" col-md-3 mb-4 ">
                                <img src="../../assets/images/rehome/gallery3.png " width="100% " height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery4.png" width="100%" height="100%">
                            </div>
                            <div class=" col-md-3 mb-4 ">
                                <img src="../../assets/images/rehome/gallery1.png " width="100% " height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery2.png" width="100%" height="100%">
                            </div>
                            <div class=" col-md-3 mb-4 ">
                                <img src="../../assets/images/rehome/gallery3.png " width="100% " height="100%">
                            </div>
                            <div class="col-md-3 mb-4">
                                <img src="../../assets/images/rehome/gallery4.png" width="100%" height="100%">
                            </div>
                        </div>
                    </cd-tab-content>

                </cd-tabs>
            </div>
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container">
        <div class="row">
            <h2 class="section_title primary_text mb-4">Video Tours</h2>
            <p class="grey_text mb-5">
                ReHomes Realty brings to you the Building Revolution. It all started with realistic appraisal of your living needs.
            </p>
            <!-- <div class="mb-5 text-center">
                <img src="../../assets/images/rehome/video.png" width="100%" height="100%">
            </div> -->
            <div class="mb-5 text-center">
                <div class="embed-responsive embed-responsive-1by1">
                    <!-- <img src="../../assets/images/rehome/video.png" width="100%" height="100%"> -->
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<app-download-app></app-download-app>