<section class="pb-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 m-auto text-center">
                <img src="../../assets/images/404.png">
                <h1 class="page_title mt-5 mb-4"><b>Page Not Found!</b></h1>
                <p class="mb-4">
                    Oops! Looks Like Something Going Rong We can’t seem to find the page you’re looking for make sure that you have typed the currect URL
                </p>
                <button class="btn btn-primary">Go To Home</button>
            </div>
        </div>
    </div>
</section>


<app-download-app></app-download-app>