<section class="page_header_banner contact_banner">
    <div class="rectangle">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <div class="breadcrumbs small_text mb-5">Home/<b>Contact</b></div>
                    <h1 class="page_title mb-3">Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 contact_details">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="section_title mb-4">Contact Details</h2>
                <p class="common_text">Phone: (305) 555-4446 | Mobile: (305) 555-4555</p>
                <p class="common_text">Email: realestate@inc.com</p>
                <p class="common_text">Skype: realestate</p>
                <p class="common_text">Adress: 10845 Griffith Peak Dr, Las Vegas, NV 89135</p>
                <img src="../../assets/images/contact/contact.png" width="100%">
            </div>
            <div class="col-md-5 mt-4">
                <form class="contact_form">
                    <div class="form-group mb-4">
                        <label class="">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group  mb-4">
                        <label class="">Email</label>
                        <input type="email" class="form-control" id="Email" aria-describedby="Email" placeholder="Enter email">
                    </div>
                    <div class="form-group  mb-4">
                        <label class="">Message</label>
                        <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <h2 class="section_title mb-4">Real Estate Agency</h2>
            <p class="common_text">Whether you’re looking for property for sale in New York area or property for rent, WP Residence makes searching easy. Use our unique geolocation mapping feature to root-out your ideal villa, townhouse or apartment and contact the owners direct.
                We will help you find your dream house in just a few seconds.We offer our clients a wealth of knowledge regarding all aspects of purchasing or selling a home. </p>
        </div>
    </div>
</section>
<app-download-app></app-download-app>