<section class="page_header_banner about_banner">
    <div class="rectangle">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <div class="breadcrumbs small_text mb-5">Home/<b>About</b></div>
                    <h1 class="page_title mb-3">About Us</h1>
                    <p class="mb-5">We provide a complete service for the sale, purchase or rental of real estate. We have been operating more than 10 years. Search millions of apartments and houses on Finder.</p>
                    <img src="../../assets/images/star.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="section_title primary_text mb-5">We’re a team born out of a passion for customer satisfaction</h2>
                <p class="grey_text">Real estate appraisal is a procedure that allows you to determine the average market value of real estate (apartment, house, land, etc.). Сalculate the cost of your property with our new Calculation Service. . </p>
                <p class="grey_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="col-md-5">
                <img src="../../assets/images/about/aboutimg2.png" width="100%" class="border_r_8 over_margin">
            </div>
        </div>
    </div>
</section>

<section class="featuredProperty py-5">
    <div class="container">
        <h2 class="section_title primary_text mb-5">The people behind the project</h2>
        <div class="row ">
            <div class="col-md-4 fetured_img mb-3 border_r_8">
                <img src="../../assets/images/user/user1.png" height="100%" width="100%" class="image border_r_8">
                <div class="fetured_title ">
                    <p>Kathleen Grant</p>
                    <p>Founder</p>
                </div>
                <div class="overlay">
                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
                        <div class="d-flex justify-content-center mt-5">
                            <i class="fa fa-facebook-square mx-2" aria-hidden="true"></i>
                            <i class="fa fa-linkedin-square mx-2" aria-hidden="true"></i>
                            <i class="fa fa-instagram mx-2" aria-hidden="true"></i>
                            <i class="fa fa-twitter-square mx-2" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 fetured_img mb-3 border_r_8">
                <img src="../../assets/images/user/user2.png" height="100%" width="100%" class="image border_r_8">
                <div class="fetured_title">
                    <p>Kathleen Grant</p>
                    <p>Founder</p>
                </div>
                <div class="overlay">
                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
                        <div class="d-flex justify-content-center mt-5">
                            <i class="fa fa-facebook-square mx-2" aria-hidden="true"></i>
                            <i class="fa fa-linkedin-square mx-2" aria-hidden="true"></i>
                            <i class="fa fa-instagram mx-2" aria-hidden="true"></i>
                            <i class="fa fa-twitter-square mx-2" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 fetured_img mb-3 border_r_8">
                <img src="../../assets/images/user/user1.png" height="100%" width="100%" class="image border_r_8">
                <div class="fetured_title">
                    <p>Kathleen Grant</p>
                    <p>Founder</p>
                </div>
                <div class="overlay">
                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
                        <div class="d-flex justify-content-center mt-5">
                            <i class="fa fa-facebook-square mx-2" aria-hidden="true"></i>
                            <i class="fa fa-linkedin-square mx-2" aria-hidden="true"></i>
                            <i class="fa fa-instagram mx-2" aria-hidden="true"></i>
                            <i class="fa fa-twitter-square mx-2" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="light_bg row p-5 lady_banner_img border_r_8">
            <div class="col-md-8">
                <h2 class="section_title primary_text mb-5">We deliver accurate property valuation reports</h2>
                <p class="primary_text">Real estate appraisal is a procedure that allows you to determine the average market value of real estate (apartment, house, land, etc.). Сalculate the cost of your property with our new Calculation Service.</p>
                <button class="btn btn-primary mt-5">Request a Valuation</button>
            </div>
            <!-- <div class="col-md-4">
                <img src="../../assets/images/about/lady.png">
            </div> -->
        </div>
    </div>
</section>
<section class="py-5 card_slider">
    <div class="container">
        <h2 class="section_title primary_text mb-5">Stay updated with the latest news</h2>
        <app-card-slider></app-card-slider>
    </div>
</section>
<app-download-app></app-download-app>