<section class="save_search m-5">
    <div class="container">
        <div class="breadcrumbs small_text mb-4">Home/<b>Buy </b></div>
        <div class="row grey_bg border_r_8 d-flex align-items-center">
            <div class="col-md-8 p-5">
                <h2 class="page_title mb-3">Save Your Search</h2>
                <p class="common_text mb-4">Get email alerts for the latest properties related to your saved search</p>
                <p class="primary_text">Ahmedabad / Flat</p>
            </div>
            <div class="col-md-4 text-center p-5">
                <div class="listing_button">
                    <button class="btn btn-primary mb-3">Save Search</button>
                    <button class="btn btn-border">Edit Requirement</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="listing_property_data">
    <div class="container">
        <h2 class="section_title grey_text mb-5">17521 results | Flats for Sale in Ahmedabad</h2>
        <div class="row listing_row border_r_8 d-flex align-items-center mb-4">
            <div class="col-md-9 p-3">
                <div class="d-flex ">
                    <img src="../../assets/images/home/cardimg.png">
                    <div class="flat_data ms-4">
                        <p class="small_text red_text">For Rent</p>
                        <h6 class="primary_text">3 BHK 2170 Sq.ft. Residential Apartment for Sale in Satellite, Ahmedabad</h6>
                        <p class="common_text">Built Up Area: <span class="primary_text">2170 sq.ft</span>&nbsp;&nbsp; Bathroom: <span class="primary_text">3</span> &nbsp;&nbsp;Balcony: <span class="primary_text">1</span></p>
                        <p class="common_text my-3">Agent: <span class="primary_text">Swastik Realty Solution </span></p>

                        <p class="small_text">Kallisto 14 is a Projects in Ahmedabad. It is a Under Construction project. Kallisto 14 offers some of the most conveniently designed Apartment. Located in Jodhpur, it is a residential project</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center grey_bg py-5">
                <div class="listing_button">
                    <button class="btn btn-primary mb-3">Save Search</button>
                    <button class="btn btn-border">Edit Requirement</button>
                </div>
            </div>
        </div>
    </div>
</section>