<section class="pt-5 testimonial_slider">
    <div class="container">
        <h2 class="section_title primary_text mb-5">Top real estate agents</h2>

        <carousel adaptiveHeight [margin]="20" [objectFit]="'contain'" [cellWidth]="'100%'" [height]=showContainer [autoplay]="true" [dots]="false" [arrows]="true" [loop]="false" [cellsToShow]="1.3" [cellsToScroll]="1">
            <div class="carousel-cell" *ngFor="let testDetail of testDetails">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4"><img [src]="testDetail.src"></div>
                        <div class="col-md-8 testimonial_data">
                            <h3 class="testimonial_title primary_text mt-5">{{testDetail.title}}</h3>
                            <p class="grey_text testimonial_desc">{{testDetail.desc}}</p>
                            <div class="testimonial_footer row mt-5">
                                <div class="col-md-6">
                                    <p><small class="primary_text">{{testDetail.username}}</small></p>
                                    <p><small class="grey_text small_text">{{testDetail.position}}</small></p>
                                </div>
                                <div class="col-md-6 text-center">
                                    <p><img src="../../assets/images/star.png" class="custom_img"></p>
                                    <p><small class="grey_text small_text">{{testDetail.review}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </carousel>
    </div>
</section>