<carousel adaptiveHeight [margin]="20" [objectFit]="'cover'" [cellWidth]="'100%'" [height]="450" [autoplay]="true" [dots]="false" [arrows]="false" [loop]="false" [cellsToShow]=showContainer [cellsToScroll]="1">
    <div class="carousel-cell" *ngFor="let cardDetail of cardDetails">
        <div class="card p-3">
            <img class="card-img-top" [src]="cardDetail.src" alt="Card image cap">
            <div class="card-body px-0">
                <div class="small_text d-flex align-items-center justify-content-between mb-3">
                    <span class="red_text">{{cardDetail.for}}</span>
                    <span class="grey_text"><i class="bi bi-geo-alt-fill"></i>{{cardDetail.location}}</span>
                </div>
                <h4 class="card-title primary_text">{{cardDetail.title}}</h4>
                <p class="card-text grey_text small_text">{{cardDetail.desc}}</p>
                <p class="primary_text card_price">{{cardDetail.price}}</p>
                <!-- <a class="btn btn-primary">Button</a> -->
            </div>
        </div>
    </div>
</carousel>