<section class="page_header_banner addProperty_banner">
    <div class="rectangle">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <div class="breadcrumbs small_text mb-5">Home/<b> Add Property </b></div>
                    <h1 class="page_title mb-3"> Add Property </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="tab_design">
                <cd-tabs class="tab_section">
                    <cd-tab-bar class="tab_header">
                        <cd-tab-button>1. Description</cd-tab-button>
                        <cd-tab-button>2. Media</cd-tab-button>
                        <cd-tab-button>3. Location</cd-tab-button>
                        <cd-tab-button>4. Details</cd-tab-button>
                        <cd-tab-button>5. Amenities</cd-tab-button>
                    </cd-tab-bar>
                    <cd-tab-content class="mt-4">
                        <form class="customForm">
                            <div class="form-row align-items-center row py-3">
                                <p class="primary_text ">Property Description</p>
                                <div class="form-group mb-3 col-md-12">
                                    <input id="title" type="text" class="form-control" name="title" placeholder="*Title (mandatory)">
                                    <i class="fa fa-pencil primary_text edit_icon"></i>
                                </div>
                                <div class="form-group mb-3 col-md-12">
                                    <textarea class="form-control" id="*description" rows="4" placeholder="*Description"></textarea>
                                    <i class="fa fa-pencil primary_text edit_icon"></i>
                                </div>

                                <p class="primary_text">Property Price</p>
                                <div class="form-group mb-3 col-md-6">
                                    <input id="price" type="text" class="form-control" name="price" placeholder="Price in ₹ (only numbers)">
                                    <i class="fa fa-pencil primary_text edit_icon"></i>
                                </div>
                                <div class="form-group mb-3 col-md-6">
                                    <input id="" type="text" class="form-control" name="" placeholder="After Price Label (ex: month)">
                                    <!-- <i class="fa fa-pencil primary_text edit_icon"></i> -->
                                </div>
                                <div class="form-group mb-3 col-md-6">
                                    <input id="" type="text" class="form-control" name="" placeholder="Before Price Label (ex: from)">
                                    <i class="fa fa-pencil primary_text edit_icon"></i>
                                </div>
                                <div class="form-group mb-3 col-md-6">
                                    <input id="" type="text" class="form-control" name="" placeholder="Yearly Tax Rate">
                                    <!-- <i class="fa fa-pencil primary_text edit_icon"></i> -->
                                </div>
                                <div class="form-group mb-3 col-md-6">
                                    <input id="" type="text" class="form-control" name="" placeholder="Homeowners Association Free (monthly)">
                                    <i class="fa fa-pencil primary_text edit_icon"></i>
                                </div>

                                <p class="primary_text">Select Categories</p>
                                <div class="form-group mb-3 col-md-4">
                                    <select class="form-control">
                                        <option>None</option>
                                    </select>
                                    <i class="fa fa-arrow-down primary_text edit_icon"></i>
                                </div>
                                <div class="form-group mb-3 col-md-4">
                                    <select class="form-control">
                                        <option>None</option>
                                    </select>
                                    <i class="fa fa-arrow-down primary_text edit_icon"></i>
                                </div>
                                <div class="form-group mb-3 col-md-4">
                                    <select class="form-control">
                                        <option>None</option>
                                    </select>
                                    <i class="fa fa-arrow-down primary_text edit_icon"></i>
                                </div>
                                <div class="d-flex justify-content-left my-5">
                                    <button type="submit" class="btn btn-primary">Next</button>
                                </div>
                            </div>
                        </form>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 2 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 3 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 4 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 5 is displayed !
                        </div>
                    </cd-tab-content>
                </cd-tabs>
            </div>
        </div>
    </div>
</section>

<app-download-app></app-download-app>