<section class="dark_bg pt-5 download_section">
    <div class="container">
        <div class="row d-flex align-items-center download_div">
            <div class="col-lg-4 d-none d-lg-block">
                <img src="../../assets/images/mobile.png" class="mobile_img">
            </div>
            <div class="col-md-4 pb-4">
                <h3 class="">Download Our App</h3>
                <p>Find everything you need for buying, selling & renting property in our new Finder App!</p>
            </div>
            <div class="col-md-4 pb-4">
                <div class="d-flex align-items-center">
                    <!-- <div class="col-md-6"> -->
                    <img src="../../assets/images/android.png">
                    <!-- </div> -->
                    <!-- <div class="col-md-6"> -->
                    <img src="../../assets/images/ios.png">
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>