/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Poppins' !important;
    overflow-x: hidden;
}

.border_r_8 {
    border-radius: 8px;
}

.over_margin {
    margin-top: -50%;
}

.over_tab {
    margin-top: -3% !important;
}

.light_bg {
    background-color: #F6F0E4;
}

.dark_bg {
    background-color: #B98E33;
}

.primary_text {
    color: #B98E33;
}

.primary_bg {
    background-color: #B98E33 !important;
}

.white_text {
    color: #fff;
}

.red_text {
    color: #C02222;
}

.grey_text {
    color: #666666;
}

.grey_bg {
    background-color: #F3F3F3 !important;
}

.largeText {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    margin: 0;
}

.small_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.btn {
    border-radius: 4px !important;
    border: 0px !important;
    min-width: 125px;
    padding: 10px 20px !important;
    /* font-weight: 600 !important; */
    font-size: 18px !important;
    line-height: 28px !important;
}

.btn-primary {
    background-color: #B98E33 !important;
    color: #fff;
}

.btn-secondary {
    background-color: #fff !important;
    color: #000 !important;
    font-weight: 500 !important;
}

.btn-border {
    background-color: #fff !important;
    color: #B98E33 !important;
    font-weight: 500 !important;
    border: 1px solid #B98E33 !important;
}


/****** Start Overlay and Flip CSS ******/

.fetured_img {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(185, 142, 51, 0.8);
}

.fetured_img:hover .overlay {
    opacity: 0.8;
    margin: auto;
    width: 90%;
    height: 95%;
    border-radius: 8px;
}

.fetured_img:hover .fetured_title {
    opacity: 0;
}

.fetured_title {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: #544D3C;
    color: #f1f1f1;
    width: 95%;
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}

.fetured_img .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.fetured_img .overlay .fa {
    font-size: 30px;
}

.flip-box {
    background-color: transparent;
    width: 100%;
    border: 0px solid #f1f1f1;
    perspective: 1000px;
}

.flip-box.full_img {
    height: 600px;
}

.flip-box.half_img {
    height: 290px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
    border-radius: 12px !important;
}

.flip-box-front img {
    border-radius: 12px !important;
}

.flip-box-back {
    background-color: #B98E33;
    color: white;
    transform: rotateY(180deg);
    border-radius: 12px;
}

.flip_details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}


/****** End Overlay and Flip CSS ******/

nav.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #19293E;
}

nav li.nav-item {
    margin: 0 15px;
}

.bannerbg {
    background-image: url('./assets/images/home/bannerbg.png');
    background-repeat: no-repeat;
}

.banner {
    background-image: url('./assets/images/home/banner.png');
    background-repeat: no-repeat;
    background-size: 85%;
    /* height: 600px; */
    background-position: center right;
    padding: 100px 0;
    /* padding-left: 0; */
}

.about_banner {
    background-image: url('./assets/images/about/about_banner.png');
}

.contact_banner {
    background-image: url('./assets/images/contact/contact_banner.png');
}

.addProperty_banner {
    background-image: url('./assets/images/add_property/add_property_banner.png');
}

.rehome_banner {
    background-image: url('./assets/images/rehome/rehome_banner.png');
}

.faq_banner {
    background-image: url('./assets/images/faq/faq_banner.png');
}

.property_listing_banner {
    background-image: url('./assets/images/add_property/property_listing_banner.png');
}

.page_header_banner {
    background-repeat: no-repeat;
    background-size: cover;
}

.page_header_banner .rectangle {
    background: rgba(84, 77, 60, 0.75);
    color: #fff;
    padding: 3rem 0;
}

.banner .rectangle {
    background: rgba(84, 77, 60, 0.75);
    color: #fff;
    padding: 50px 50px 50px 130px;
}

.banner h1,
.page_header_banner h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.section_title {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
}

.common_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #666666;
}

.search_tab {
    box-shadow: 0px 0px 18px 5px rgba(50, 35, 35, 0.25);
    border-radius: 8px;
}

.tab_design {
    background: #FFFFFF;
    /* box-shadow: 0px 0px 18px 5px rgba(50, 35, 35, 0.25); */
    /* border-radius: 8px; */
}

.banner .search_tab {
    margin-top: 5rem;
}

.tab_design .tab_section .tabs-container {
    margin: 0 1.5rem;
}

.tab_design .tab_section .tabs-container .tab_header .bar-container {
    /* border-bottom: 1px solid #ccc; */
    justify-content: center;
}

.tab_design .tab_section .tabs-container .tab_header .bar-container .cd-tab-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B98E33;
    border-bottom: 1px solid transparent;
}

.search_tab .tab_section .tabs-container .tab_header .bar-container .cd-tab-button {
    border-bottom: 1px solid #ccc;
}

.tab_design .tab_section .tabs-container .tab_header .bar-container .cd-tab-selected {
    background-color: transparent !important;
    border-bottom: 3px solid #B98E33;
    font-weight: 600;
}

.download_section {
    margin-top: 5rem;
    color: #fff;
}

.download_div {
    position: relative;
}

.download_section .mobile_img {
    /* margin-top: -170px; */
    position: absolute;
    bottom: 0;
}

.card_slider .card-title,
.card_slider .card_price {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.testimonial_data {
    position: relative;
}

.testimonial_data .testimonial_footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}

.testimonial_footer p {
    margin: 0;
}

.testimonial_slider .testimonial_title {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.testimonial_slider .testimonial_desc {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.card_details {
    color: #fff;
    background: #544D3C;
    border-radius: 4px;
    height: 100%;
}

.card_details .card_name {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.form-control:focus {
    box-shadow: none !important;
    border: 0px !important;
}

.tlk_to_expert_form,
.contact_form {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 10%);
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
}

.contact_details .contact_form {
    text-align: left;
    background: #F3F3F3;
    border-radius: 8px;
}

.contact_details .contact_form .form-control {
    padding: 0.5rem 0.75 rem;
    border: 0px;
}

.contact_form label {
    font-weight: 500;
}

.tlk_to_expert_form .form_title {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #666666;
}

.listing_button .btn {
    width: 65%;
}

.listing_row {
    box-shadow: 0px 0px 18px 5px rgba(176, 176, 176, 0.25);
}


/* .footer {
    background: rgba(185, 142, 51, 0.13);
} */

.carousel-cells .carousel-cell img.custom_img {
    width: auto !important;
    height: auto !important;
}


/******* Start Abouit page CSS *******/

.lady_banner_img {
    background-image: url('./assets/images/about/lady.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}


/******* End Abouit page CSS *******/


/******* Start Custom Form CSS ******/

.customForm .form-group>.fa.edit_icon {
    position: absolute;
    top: 10px;
    right: 20px;
}

.customForm .form-group {
    position: relative;
}


/******* End Custom Form CSS ******/

.custom_acc .accordion-button {
    background-color: #f2f2f2;
    font-size: 14px;
}

.custom_acc .accordion-body {
    font-size: 14px;
}

.custom_acc .accordion-item {
    border: 1px solid #ccc !important;
    margin-bottom: 10px;
}

.custom_acc .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #B98E33;
}

.popularCity .fetured_title {
    width: 100%;
    text-transform: capitalize;
    font-size: 14px;
}

.footer .footer_title {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}

.footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
    }
}

@media screen and (max-width: 1024px) {
    section.py-5 {
        /* margin: 2em 0 !important; */
        padding: 1em 0 !important;
    }
    p {
        font-size: 14px !important;
        line-height: 24px !important;
    }
    .btn {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .banner {
        background-size: cover;
        padding: 0;
    }
    .banner h1,
    .page_header_banner h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
    }
    .banner .rectangle {
        padding: 30px;
    }
    .section_title {
        font-size: 22px;
        line-height: 32px;
    }
    .download_section .mobile_img {
        position: relative;
    }
    .over_margin {
        margin: 0;
    }
    .testimonial_slider .testimonial_title {
        font-size: 16px;
        margin: 0 10px !important;
        line-height: 28px;
    }
    .testimonial_slider .testimonial_desc {
        font-size: 12px;
        margin: 0 10px;
        line-height: 18px;
    }
    .testimonial_data .testimonial_footer {
        margin: 0px 0 !important;
    }
    .testimonial_footer p {
        font-size: 12px;
    }
    .carousel-cells .carousel-cell img.custom_img {
        width: 25% !important;
        height: auto !important;
    }
    .testimonial_data .testimonial_footer .text-center {
        text-align: left !important;
    }
    .testimonial_data {
        margin: 5px 0;
    }
    nav li.nav-item {
        width: 100%;
    }
    .download_section {
        margin-top: 1em;
    }
    .tlk_to_expert_form,
    .contact_form {
        padding: 0.5rem;
    }
    .tab_design .tab_section .tabs-container {
        margin: 0;
    }
}