<section class="bannerbg">
    <div class="banner">
        <div class="row m-0">
            <div class="rectangle col-md-6">
                <h1 class="page_title mb-5">Easy way to find a perfect property</h1>
                <p class="mb-5">We provide a complete service for the sale, purchase or rental of real estate. We have been operating more than 10 years. Search millions of apartments and houses on Finder.</p>
                <button class="btn btn-secondary">Explore Now</button>
            </div>
        </div>
        <app-search-tab></app-search-tab>

    </div>
</section>
<!-- <img src="../../assets/images/home/img1.png" height="100%" width="100%" class="image"> -->
<!-- <div class="overlay">
                    <div class="text">Hello World</div>
                </div> -->
<section class="featuredProperty py-5">
    <div class="container">
        <h2 class="section_title primary_text">Featured Properties</h2>
        <p class="common_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="row mt-5">
            <div class="col-md-4 fetured_img">
                <div class="flip-box full_img mb-4">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img src="../../assets/images/home/img1.png" height="100%" width="100%">
                        </div>
                        <div class="flip-box-back">
                            <div class="flip_details">
                                <h2>New Property</h2>
                                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet </p>
                                <button class="btn btn-secondary"><img src="../../assets/images/icon/arrow-right.png"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <div class="flip-box half_img mb-4">
                            <div class="flip-box-inner">
                                <div class="flip-box-front">
                                    <img src="../../assets/images/home/img2.png" height="100%" width="100%">
                                </div>
                                <div class="flip-box-back">
                                    <div class="flip_details">
                                        <h2>New Property</h2>
                                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet </p>
                                        <button class="btn btn-secondary"><img src="../../assets/images/icon/arrow-right.png"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="flip-box half_img mb-4">
                            <div class="flip-box-inner">
                                <div class="flip-box-front">
                                    <img src="../../assets/images/home/img3.png" height="100%" width="100%">
                                </div>
                                <div class="flip-box-back">
                                    <div class="flip_details">
                                        <h2>New Property</h2>
                                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet </p>
                                        <button class="btn btn-secondary"><img src="../../assets/images/icon/arrow-right.png"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <div class="flip-box half_img mb-4">
                            <div class="flip-box-inner">
                                <div class="flip-box-front">
                                    <img src="../../assets/images/home/img3.png" height="100%" width="100%">
                                </div>
                                <div class="flip-box-back">
                                    <div class="flip_details">
                                        <h2>New Property</h2>
                                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet </p>
                                        <button class="btn btn-secondary"><img src="../../assets/images/icon/arrow-right.png"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="flip-box half_img mb-4">
                            <div class="flip-box-inner">
                                <div class="flip-box-front">
                                    <img src="../../assets/images/home/img4.png" height="100%" width="100%">
                                </div>
                                <div class="flip-box-back">
                                    <div class="flip_details">
                                        <h2>New Property</h2>
                                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet </p>
                                        <button class="btn btn-secondary"><img src="../../assets/images/icon/arrow-right.png"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <app-card-slider></app-card-slider> -->
<section class="light_bg py-5 card_slider">
    <div class="container">
        <h2 class="section_title primary_text mb-5">Find Better Places to Live, Work and Wonder...</h2>
        <app-card-slider></app-card-slider>
    </div>
</section>
<app-testimonial-slider></app-testimonial-slider>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-offset-1">
                <img src="../../assets/images/home/calculator.png" height="100%" width="100%">
            </div>
            <div class="col-md-7">
                <h3 class="section_title primary_text my-4">Сalculate the cost of your property</h3>
                <p class="common_text">Real estate appraisal is a procedure that allows you to determine the average market value of real estate (apartment, house, land, etc.). Сalculate the cost of your property with our new Calculation Service.</p>
                <button type="submit" class="btn btn-primary mt-5">
                    <img src="../../assets/images/icon/cal_icon.png" class="mx-1">Calculate
                </button>
            </div>
        </div>
    </div>
</section>
<section class="light_bg py-5">
    <div class="container">
        <h3 class="section_title primary_text mb-4">Making living spaces affordable</h3>
        <p class="common_text">Our mission is to engage in issues that are of concern to individuals, families and communities through an uncompromising commitment to create outstanding living, work and leisure environments. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <div class="row mt-5">
            <div class="col-md-6 mb-4 text-center">
                <img src="../../assets/images/home/living1.png" width="100%" height="100%">
            </div>
            <div class="col-md-6  mb-4">
                <!-- <img src="../../assets/images/home/living2.png" width="100%"> -->
                <div class="card_details p-5">
                    <h2 class="card_name pb-4">High quality products</h2>
                    <p class="pb-5">The luxurious and exquisite design harmonious with the surrounding architecture provide optimal comfort, modernity and the best living conditions for every family. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. </p>
                    <span class="card_name">₹ 20,000/month</span>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <!-- <img src="../../assets/images/home/living2.png" width="100%"> -->
                <div class="card_details p-5">
                    <h2 class="card_name pb-4">Comprehensive amenities</h2>
                    <p class="pb-5">The Group successfully ventured into Real Estate by creating a series of residential spaces at strategic locations in Kolkata, Siliguri and Durgapur under the aegis of Dream Homes.</p>
                    <span class="card_name">₹ 50,000/month</span>
                </div>
            </div>
            <div class="col-md-6 mb-4 text-center">
                <img src="../../assets/images/home/living2.png" width="100%" height="100%">
            </div>
        </div>
    </div>
</section>
<section class="py-5 talk_to_expert">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="section_title primary_text mb-4">To be the most trusted name in real estate globally</h2>
                <p class="common_text">We continuously strive to provide the best living experience. Today, better than yesterday. Tomorrow, better than today. By developing landmark buildings and expensive residences in record time, ensuring the most fulfilling lives to their
                    occupants.
                </p>
                <div class="row my-5">
                    <div class="col-md-6 mb-5">
                        <div class="icon-section d-flex align-items-center">
                            <img src="../../assets/images/home/agents.png">
                            <div class="icon-details ms-3">
                                <h3 class="primary_text largeText"><b>+100</b></h3>
                                <p>Real Estate Agents</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  mb-5">
                        <div class="icon-section  d-flex align-items-center">
                            <img src="../../assets/images/home/city.png">
                            <div class="icon-details  ms-3">
                                <h3 class="primary_text largeText"><b>+50</b></h3>
                                <p>Cities We Operate</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  mb-5">
                        <div class="icon-section d-flex align-items-center">
                            <img src="../../assets/images/home/experience.png">
                            <div class="icon-details ms-3">
                                <h3 class="primary_text largeText"><b>+25</b></h3>
                                <p>Years of Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  mb-5">
                        <div class="icon-section d-flex align-items-center">
                            <img src="../../assets/images/home/contracts.png">
                            <div class="icon-details ms-3">
                                <h3 class="primary_text largeText"><b>+3500</b></h3>
                                <p>Contracts Closed</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 offset-md-1 mt-3">
                <form class="tlk_to_expert_form">
                    <h3 class="form_title mb-4">Are you ready to talk to an expert?</h3>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group  mb-3">
                        <input type="email" class="form-control" id="Email" aria-describedby="Email" placeholder="Enter email">
                    </div>
                    <div class="form-group  mb-3">
                        <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<app-download-app></app-download-app>