<section class="page_header_banner property_listing_banner">
    <div class="rectangle">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <div class="breadcrumbs small_text mb-5">Home/<b>Properties </b></div>
                    <h1 class="page_title mb-3">Properties</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="over_tab">
                <!-- <cd-tabs class="tab_section">
                    <cd-tab-bar class="tab_header">
                        <cd-tab-button>Overview</cd-tab-button>
                        <cd-tab-button>Amenities</cd-tab-button>
                        <cd-tab-button>Plans</cd-tab-button>
                        <cd-tab-button>Gallery</cd-tab-button>
                        <cd-tab-button>Video</cd-tab-button>
                        <cd-tab-button>Location</cd-tab-button>
                        <cd-tab-button>Enquiry</cd-tab-button>
                    </cd-tab-bar>
                    <cd-tab-content class="mt-4 py-4">

                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 2 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 3 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 4 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 5 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 6 is displayed !
                        </div>
                    </cd-tab-content>
                    <cd-tab-content>
                        <div class="row p-4">
                            Tab 7 is displayed !
                        </div>
                    </cd-tab-content>
                </cd-tabs> -->
                <app-search-tab></app-search-tab>

            </div>
        </div>
    </div>
</section>


<section class="featuredProperty popularCity py-5">
    <div class="container">
        <h2 class="section_title primary_text mb-5">Explore Real Estate in Popular Indian Cities</h2>
        <carousel adaptiveHeight [margin]="20" [objectFit]="'cover'" [cellWidth]="'100%'" [height]="250" [autoplay]="true" [dots]="false" [arrows]="true" [loop]="true" [cellsToShow]="5" [cellsToScroll]="1">
            <div class="carousel-cell" *ngFor="let cityDetail of cityDetails">
                <div class="fetured_img mb-3 border_r_8">
                    <img [src]="cityDetail.src" height="100%" width="100%" class="image border_r_8">
                    <div class="fetured_title primary_bg ">
                        <p class=" mb-0">{{cityDetail.city}}</p>
                        <p class="">{{cityDetail.properties}}</p>
                    </div>
                </div>
            </div>

        </carousel>
    </div>
</section>

<section class="featuredProperty py-5">
    <div class="container">
        <h2 class="section_title primary_text mb-5">Featured properties</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mb-4" *ngFor="let cardDetail of cardDetails">
                        <div class="card p-3">
                            <img class="card-img-top" [src]="cardDetail.src" alt="Card image cap">
                            <div class="card-body px-0">
                                <div class="small_text d-flex align-items-center justify-content-between mb-3">
                                    <span class="red_text">{{cardDetail.for}}</span>
                                    <span class="grey_text"><i class="bi bi-geo-alt-fill"></i>{{cardDetail.location}}</span>
                                </div>
                                <h4 class="card-title primary_text">{{cardDetail.title}}</h4>
                                <p class="card-text grey_text small_text">{{cardDetail.desc}}</p>
                                <p class="primary_text card_price">{{cardDetail.price}}</p>
                                <!-- <a class="btn btn-primary">Button</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="contact_details mb-4">
                    <form class="contact_form px-3">
                        <div class="d-flex align-items-center">
                            <img src="../../assets/images/user/form_user.png">
                            <div class="user_details_form primary_text ms-3">
                                <h6 class=""><b>Alessandra Rosales</b></h6>
                                <p class="small_text">selling agent</p>
                                <p class="small_text m-0">(234) 0200 17813 | lisa@gmail.com<br> 302 Av Park, New York</p>
                            </div>
                        </div>
                        <h6 class="primary_text my-4">Request Inquiry</h6>
                        <div class="form-group mb-4">
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group  mb-4">
                            <input type="email" class="form-control" id="Email" aria-describedby="Email" placeholder="Enter email">
                        </div>
                        <div class="form-group mb-4">
                            <input type="number" class="form-control" id="number" placeholder="Phone Number">
                        </div>
                        <div class="form-group  mb-4">
                            <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group  mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label primary_text ms-3" for="flexCheckDefault">
                            I agree to terms and conditions
                    </label>
                        </div>
                        <div class="d-flex justify-content-between mt-5">
                            <button type="submit" class="btn btn-primary">Submit Request</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-phone" aria-hidden="true"></i>
                            Call</button>
                        </div>
                    </form>
                </div>
                <div class="grey_bg recent_property py-4 px-3 border_r_8 mb-3">
                    <h3 class="primary_text">Recent Properties</h3>
                    <div class="property_details">
                        <div class="card p-3 mb-3" *ngFor="let propertyDetail of propertyDetails">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="border_r_8" width="100%" [src]="propertyDetail.src" alt="Card image cap">
                                </div>
                                <div class="col-md-8">
                                    <h5 class="card-title primary_text m-0">{{propertyDetail.title}}</h5>
                                    <span class="red_text small_text">{{propertyDetail.for}}</span>
                                    <p class="primary_text card_price mt-3">{{propertyDetail.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grey_bg featured_property py-4 px-3 border_r_8 mb-3">
                    <h3 class="primary_text">Featured Properties</h3>

                    <div class="card p-2">
                        <img class="card-img-top" src="../../assets/images/add_property/property1.png" alt="Card image cap">
                        <div class="card-body px-0">
                            <div class="d-flex align-items-center justify-content-between mt-3">
                                <h4 class="card-title primary_text">Alessandra Rosales</h4>
                                <p class="primary_text card_price">₹40,00,000</p>
                            </div>
                            <span class="red_text">For Sell</span>

                        </div>
                    </div>
                </div>

                <div class="grey_bg dream_home py-4 px-3 border_r_8 mb-3">
                    <!-- <h3 class="primary_text">Featured Properties</h3> -->

                    <!-- <div class="card p-2"> -->
                    <img class="" width="100%" src="../../assets/images/add_property/dream_home.png" alt="">
                    <!-- </div> -->
                </div>

            </div>
        </div>
    </div>

</section>